doctype html
html
	head
		title Openstreet Maps Leafleat.
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
		integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
		crossorigin="")

		script(src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
		integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
		crossorigin="")

		style(type="text/css").
			#map1{
				height: 100vh;
				width: 100%;
				position:relative;
				overflow:hidden;
			}

	body
		div#map1

		script.
			var mymap = L.map('map1').setView([#{latitude},#{longitude}], 13);
			L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
			}).addTo(mymap);

			L.marker([#{latitude},#{longitude}]).addTo(mymap)
			.bindPopup('A pretty CSS3 popup.<br> Easily customizable.')
			.openPopup()
			.on('click', onClick);

			function onClick(e) {Android.showToast(JSON. stringify(e.latlng));}

			/*var popup = L.popup()
			.setLatLng([#{latitude},#{longitude}])
			.setContent("I am a standalone popup.")
			.openOn(mymap);*/